[submodule "libs/FreeRTOS-Kernel"]
	path = libs/freertos_kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "libs/etl"]
	path = libs/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "libs/STM32CubeF1"]
	path = libs/STM32CubeF1
	url = https://github.com/STMicroelectronics/STM32CubeF1.git
